body{
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
}


h1{
    font-size: 1rem;
}

h2{
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
h3{
    font-size: 0.8rem;
}

.hamburger{
    margin: 0.2rem;
    top: 0rem;
    left: 0;
    right: 0;
    position: absolute;
}

aside{
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
}

i{
    margin-right: 0.5rem;
}

.userName{
    display: flex;
    justify-content: center;
    height: 10%;
}

.userName i{
    margin-right: 0.5rem;
}

.myLinks{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myLinks >*{
    margin-left: 0.5rem;
}

.myLinks i{
    margin-right: 2rem;
}

.myLinks :hover{
    background-color: rgba(77, 77, 77, 0.5);
    border-right: red 2px solid;
}

.settings{
    margin-left: 0.2rem;
    height: 8%;
}

.slideshowContainer{
    width: 100%;
    height: 100%;
    position: absolute;
}

.slideshowImages {
    display: none;
    width: 100%;
    height: 100%;
  }
  
img{
    width: 100%;
    height: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}